@CHARSET "ISO-8859-1";

button {
  
    cursor: pointer;
    
}

.dropDownCustom{
	
	margin-left:15px;
}
.widgetName{
	
	display: inline-block !important;
}
.labelCustom{
	
	width: 10%;
}
.pagination li {
	display: inline !important;
}

.pagination input {
	display: inline-block !important;
}
.panelDiv {
	color: #000000;
	background-color: #ffffff;
	border-color: #DD5757;
	border-radius: 0px;
	border-radius: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.panelHeader {
	background-color: #DD5757;
	border-color: #DD5757;
	height: 30px;
	padding: 5px;
	color: floralwhite;
}

.panelHeadSimulator {
	background-color: #DD5757;
	border-color: #DD5757;
	text-align: center;
	color: floralwhite;
	margin-bottom: 5%;
}

.row-center {
	width: 60%;
	margin: 0px auto;
}

.simulationBase {
	margin-top: 5%;
	width: 95%;
}
/*
Custom styles
*/
body {
	font-family: Verdana;
}

.node {
	border: solid 1px white;
	font: 10px sans-serif;
	line-height: 12px;
	overflow: hidden;
	position: absolute;
	text-indent: 2px;
}

.c3-line, .c3-focused {
	stroke-width: 3px !important;
}

.c3-bar {
	stroke: white !important;
	stroke-width: 1;
}

.c3 text {
	font-size: 12px;
	color: grey;
}

.tick line {
	stroke: white;
}

.c3-axis path {
	stroke: grey;
}

.c3-circle {
	opacity: 1 !important;
}

.c3-xgrid-focus {
	visibility: hidden !important;
}

/* .wizard>.steps>ul>li:nth-child(1) {
	width: 100%%;
	overflow: scroll;
}

.wizard>.steps>ul>li:nth-child(2) {
	width: 100%;
} */

/* .pvtUi {
	display: block;
	width: 100%;
	overflow: auto;
} */
.tabcontrol>.content {
	overflow: initial !important;
}

.wizard, .tabcontrol {
	overflow: initial !important;
}

@media ( min-width : 1200px) {
	.containerW {
		max-width: 970px;
	}
}

.wizard>.content>.body {
	overflow: scroll;
}

.pagination ul {
	display: inline-block;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}